@keyframes anime1 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glowing{
  
  ::before{
animation: anime1 60s linear infinite;
  }
}